
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - The_Book_Cave</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img id="brand-image" src="logologo.png" alt="Brand"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bókaflokkar <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a asp-controller="Category" asp-action="Details" asp-route-id="1">Barna- og Unglingabækur</a></li>
                <li><a asp-controller="Category" asp-action="Details" asp-route-id="2">Erlendar skáldsögur</a></li>
                <li><a asp-controller="Category" asp-action="Details" asp-route-id="3">Íslenskar skáldsögur</a></li>
                <li><a asp-controller="Category" asp-action="Details" asp-route-id="4">Matreiðslubækur</a></li>
                <li><a asp-controller="Category" asp-action="Details" asp-route-id="5">Skáldævisögur</a></li>
                 <li><a asp-controller="Category" asp-action="Details" asp-route-id="6">Spennusögur</a></li>
                 <li><a asp-controller="Category" asp-action="Details" asp-route-id="7">Ævintýri</a></li>
                <li role="separator" class="divider"></li>
                <li><a asp-area="" asp-controller="Category" asp-action="Index">Allir bókaflokkar</a></li>
            </ul>
            </li>
            <li><a href="#">Væntanlegar bækur</a></li>
            <li><a asp-controller="Book" asp-action="BooksByOrder" >Allar bækur A-Ö</a></li>
            <li><a href="#">Top 10 bækur</a></li>
        </ul>
        <div class="nav navbar-nav navbarcenter">
            <form class="navbar-form">
                <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default"><img id="search-icon" src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-256.png" alt="search"></button>
            </form>    
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">English</a></li>
            <li><a asp-area="" asp-controller="User" asp-action="Index">Innskráning</a></li>
            <li><a href="#">Óskalisti</a></li>
            <li><a asp-controller="ShoppingCart" asp-action="Index">Karfa</a></li>
        </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    </nav>


    <div class="container body-content">
        @RenderBody()
       
         <footer  id="testbla"> 
        
<ul>

<li class="nav_first footerli"><a href="/gp/help/customer/display.html/ref=footer_cou?ie=UTF8&amp;nodeId=508088" class="nav_a">Um okkur</a></li>


<li class="footerli"><a href="/gp/help/customer/display.html/ref=footer_privacy?ie=UTF8&amp;nodeId=468496" class="nav_a">Skilmálar</a></li>

<li class="footerli"><a href="/interestbasedads/ref=footer_iba" class="nav_a">Samfélagsmiðlar</a></li>

<li class="footerli"><a href="/interestbasedads/ref=footer_iba" class="nav_a">Hafa samband</a></li>

<li class="nav_last footerli">© 2018, Book-Cave, Inc.</li></ul>
  
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
