
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Book Cave</title>
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img id="brand-image" src="~/images/logologo.png" alt="Brand"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bókaflokkar <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a asp-controller="Category" asp-action="Details" asp-route-id="1">Barna- og Unglingabækur</a></li>
                <li><a asp-controller="Category" asp-action="Details" asp-route-id="2">Erlendar skáldsögur</a></li>
                <li><a asp-controller="Category" asp-action="Details" asp-route-id="8">Erlendar bækur</a></li>
                <li><a asp-controller="Category" asp-action="Details" asp-route-id="10">Ferðabækur</a></li>
                <li><a asp-controller="Category" asp-action="Details" asp-route-id="3">Íslenskar skáldsögur</a></li>
                <li><a asp-controller="Category" asp-action="Details" asp-route-id="9">Kennslubækur</a></li>
                <li><a asp-controller="Category" asp-action="Details" asp-route-id="4">Matreiðslubækur</a></li>
                <li><a asp-controller="Category" asp-action="Details" asp-route-id="5">Ævisögur</a></li>
                <li><a asp-controller="Category" asp-action="Details" asp-route-id="6">Spennusögur</a></li>
                <li><a asp-controller="Category" asp-action="Details" asp-route-id="7">Ævintýri</a></li>
                <li role="separator" class="divider"></li>
                <li><a asp-controller="Book" asp-action="BooksByOrder" >Allar bækur A-Ö</a></li>
            </ul>
            </li>
            <li><a asp-controller="Category" asp-action="ComingSoon">Væntanlegar bækur</a></li>
            
            <li><a asp-controller="Book" asp-action="Top10Books">Topp 10 bækur</a></li>
        </ul>
        <div id="search-icon" class="nav navbar-nav navbarcenter">
            <form class="navbar-form" asp-controller="Home" asp-action="SearchIndex">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" name="Search">
                </div>
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </form>    
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a asp-controller="Book" asp-action="WishList">Óskalisti</a></li>
            <li><a asp-controller="ShoppingCart" asp-action="Index"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a></li>
        </ul>
        @await Html.PartialAsync("_LoginPartial")
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    </nav>


<div class="container body-content">
    @RenderBody()
    
    <footer  class="footer-style"> 
        <ul>
            <li class="footerli"><a asp-controller="Home" asp-action="About">Um okkur</a></li>
            <li class="footerli"><a asp-controller="Home" asp-action="Conditions">Skilmálar</a></li>
            <li class="footerli"><a href="http://www.facebook.com/ikea" class="nav_a">Samfélagsmiðlar</a></li>
            <li class="footerli"><a asp-controller="Home" asp-action="Contact">Hafa samband</a></li>
            <li class="nav_last footerli">© 2018, Book-Cave, Inc.</li>
        </ul>
    </footer>
</div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
