@model The_Book_Cave.Models.ViewModels.EditProfileViewModel 
@using Microsoft.AspNetCore.Identity 
@using System.Security.Claims 

<h1>Breyta Persónuupplýsingum</h1>

@inject SignInManager<ApplicationUser> SignInManager

@{
    var claim = ((ClaimsIdentity) User.Identity).Claims.FirstOrDefault( c => c.Type == "Name")?.Value;
}
@{
    var claimEmail = ((ClaimsIdentity) User.Identity).Claims.FirstOrDefault( c => c.Type == "Email")?.Value;
}


<form asp-action="EditProfile" asp-controller="Account" class="form-horizontal">
    <div class="form-group">
        <input type="text" asp-for="FirstName" class="form-control" placeholder="@claim" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="text" asp-for="LastName" class="form-control" placeholder="Enter last name.."/>
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="text" asp-for="Address" class="form-control" placeholder="Enter address.." />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">Uppfæra</button>
    </div>
</form>




