@model The_Book_Cave.Models.ApplicationUser
@using Microsoft.AspNetCore.Identity 
@using System.Security.Claims 

<h1>Mínar síður</h1>

@inject SignInManager<ApplicationUser> SignInManager

@{
    var claim = ((ClaimsIdentity) User.Identity).Claims.FirstOrDefault( c => c.Type == "Name")?.Value;
}


<p>Nafn: @claim </p>

<a asp-controller="Account" asp-action="EditProfile" >Uppfæra Persónuupplýsingar</a>
