@model List<The_Book_Cave.Models.ViewModels.BookListViewModel>

    <h3 id="comingsoon-h3">Væntanlegar bækur</h3>
    <div class="book-items">
    @foreach(var book in Model)
    {
         <div class="BooksByOrder book-item-thumb">
            <div class="book-item-image">
                    <img src="@book.Image" alt="~/images/250x250image.png">
            </div>
            <div class="book-item-info">
                <h3>
                    @book.Title
                </h3>
                <p>@book.Price kr.</p>
            </div>
        </div>
    }
</div>