<a asp-controller="ShoppingCart" asp-action="Index"><< Fara tilbaka</a>
<form>
    <legend>Greiðsluupplýsingar</legend>
    <label for="firstname">Fornafn</label>
    <input id="firstname" type="text" name="firstname">
    </br>
    </br>
    <label for="lastname">Eftirnafn</label>
    <input id="lastname" type="text" name="lastname">
    </br>
    </br>
    <label for="SSN">Kennitala</label>
    <input id="SSN" type="number" name="SSN">
    </br>
    </br>
    <label for="address">Heimilisfang</label>
    <input id="address" type="text" name="address">
    </br>
    </br>
    <label for="zip">Póstnúmer</label>
    <input id="zip" type="text" name="zip">
    </br>
    </br>
    <label for="city">Borg/Bær</label>
    <input id="city" type="text" name="city">
    </br>
    </br>
    <label for="country">Land</label>
    <select id="country" name="country">
        <option value="Iceland">Ísland</option>
        <option value="Norway">Noregur</option>
        <option value="Finnland">Finnland</option>
        <option value="Sweden">Svíðþjóð</option>
        <option value="Denmark">Danmörk</option>
        <option value="Spain">Spánn</option>
        <option value="Portugal">Portúgal</option>
        <option value="Germany">Þýskaland</option>
        <option value="Belgia">Belgía</option>
        <option value="Italia">Ítalía</option>
    </select>
</form>
</br>
</br>
<form>
    <legend>Sendingarupplýsingar</legend>
     <label for="firstname">Fornafn</label>
    <input id="firstname" type="text" name="firstname">
    </br>
    </br>
    <label for="lastname">Eftirnafn</label>
    <input id="lastname" type="text" name="lastname">
    </br>
    </br>
    <label for="address">Heimilisfang</label>
    <input id="address" type="text" name="address">
    </br>
    </br>
    <label for="zip">Póstnúmer</label>
    <input id="zip" type="text" name="zip">
    </br>
    </br>
    <label for="city">Borg/Bær</label>
    <input id="city" type="text" name="city">
    </br>
    </br>
    <label for="country">Land</label>
    <select id="country" name="country">
        <option value="Iceland">Ísland</option>
        <option value="Norway">Noregur</option>
        <option value="Finnland">Finnland</option>
        <option value="Sweden">Svíðþjóð</option>
        <option value="Denmark">Danmörk</option>
        <option value="Spain">Spánn</option>
        <option value="Portugal">Portúgal</option>
        <option value="Germany">Þýskaland</option>
        <option value="Belgia">Belgía</option>
        <option value="Italia">Ítalía</option>
    </select>
</form>
<form href="#">
    <input type="submit" value="Ganga frá pöntun">
</form>