@model The_Book_Cave.Models.InputModels.OrderInputModel


<form class="form-horizontal" method="POST">
    <div class="form-group">
        <label class="control-label col-sm-2" for="Name">Nafn</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="Name" placeholder="Nafn">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="Address">Heimilisfang</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="Address" placeholder="Heimilisfang">
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="City">Staður</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="City" placeholder="Staður">
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="ZipCode">Póstnúmer</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="ZipCode" placeholder="Póstnúmer">
            <span asp-validation-for="ZipCode" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="Country"></label>
        <div class="col-sm-10">
            <select class="form-control" id="country" name="Country">
                <option value="">Veldu land</option>
                <option value="Canada">Kanada</option>
                <option value="Denmark">Danmörk</option>
                <option value="Finland">Finnland</option>
                <option value="France">Frakkland</option>
                <option value="Germany">Þýskaland</option>
                <option value="Iceland">Ísland</option>
                <option value="Ireland">Írland</option>
                <option value="Italy">Ítalía</option>
                <option value="Norway">Noregur</option>
                <option value="Sweden">Svíþjóð</option>
                <option value="United Kingdom">Bretland</option>
                <option value="United States">Bandaríkin</option>
            </select>
            <span asp-validation-for="Country" class="text-danger"></span>
        </div>
    </div>
    <input type="submit" value="Halda áfram" class="btn btn-default">
    <a asp-controller="Home" asp-action="Index"><input type="button" value="Cancel" class="btn btn-danger"></a>
</form>