@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Við erum Bókaverslun staðsett á höfuðborgarsvæðinu með aðsetur í Nauthólsvík 2.</p>
<p>Bókaverslunin byrjaði sem skólaverkefni í HR og hefur verið starfandi frá árinu 2018.</p>
