@{
    ViewData["Title"] = "Skilmálar vefverslunar";
}
<h1>@ViewData["Title"]</h1>

<h2>Almennt</h2>
<p>Penninn.is áskilur sér rétt til að hætta við pantanir, t.d. vegna rangra verðupplýsinga og einnig að breyta verðum eða hætta að bjóða upp á vörutegundir fyrirvaralaust. Þetta á einnig við ef um villur í reiknireglum vefverslunnar eiga sér stað.</p>


<h2>Afhending vöru</h2>
<p>Fyrirtækjaþjónusta Book-Cave dreifir vörum til viðskiptavina sinna á Höfuðborgarsvæðinu. Öllum öðrum pöntunum er dreift af Póstinum. Sendingarkostnaður er reiknaður út frá gjaldskrá Póstsins með tilliti til áfangastaðar og fjölda vara, stærð þeirra og þyngd. Reynt er eftir fremsta megni að afgreiða öll kaup næsta virka dag eftir pöntun. Sé varan ekki til á lager mun starfsmaður hafa samband og tilkynna um áætlaðan afhendingartíma vörunnar. Gilda afhendingar-, ábyrgðar- og flutningsskilmálar Íslandspósts um afhendingu vöru frá Póstinum. Skilmálar Póstsins eru aðgengilegir á vefsíðu fyrirtækisins. Vefverslunnin ber samkvæmt þessu enga ábyrgð á tjóni sem kann að verða á vöru í flutningi Póstsins. Verði vara fyrir tjóni frá því að að hún er send frá Book Cave og þar til hún berst viðtakanda er tjónið á ábyrgð flutningsaðila.</p>


<h2>Skilafrestur</h2>
<p>Kaupandi hefur 14 daga til að hætta við kaupin að því tilskildu að hann hafi ekki notað vöruna, henni sé skilað í góðu lagi í óuppteknum upprunalegum umbúðum. Ef vara er innsigluð má ekki rjúfa innsiglið. Fresturinn byrjar að líða þegar varan er afhent skráðum viðtakanda. Kvittun fyrir vörukaupunum þarf að fylgja með. Hér má lesa nánari upplýsingar um skilareglur.</p>



<h2>Rafbækur og aðrar rafrænar vörur</h2>
<p>Öll kaup á vörum sem eru afhentar rafrænt (með niðurhalshlekk) eru endanleg um leið og greitt hefur verið fyrir vöruna.  Slíkar vörur fást ekki endurgreiddar nema ef um gallaða/skemmda vöru er að ræða.</p>



<h2>Gölluð vara</h2>
<p>Sé vara gölluð er viðskiptavinum boðin ný vara í staðinn og greiðum við allan kostnað sem gæti komið upp við sendingu.</p>


<h2>Netverð</h2>
<p>Vinsamlegast athugið að verð á netinu getur breyst án fyrirvara. Tilboð í vefverslun gilda í sumum tilfellum eingöngu fyrir vefverslun.</p>

<h2>Skattar og gjöld</h2>
<p>Öll verð í netversluninni eru með VSK og reikningar eru gefnir út með VSK.</p>
<h2>Sendingarkostnaður</h2>
<p>Sendingarkostnaður er reiknaður útfrá gjaldskrá Póstins með tilliti til áfangastaðar og fjölda vara, stærð þeirra og þyngd. Gjaldskrá Póstsins má nálgast á heimasíðu fyrirtækisins.  Fyrirtæki á höfuðborgarsvæðinu í reikningsviðskiptum greiða fast verð 2.500 kr. fyrir sendingar, en ef pantað er fyrir meira en 20.000 kr. fellur sendingarkostnaður niður.</p>
<h2>Trúnaður</h2>
<p>Seljandi heitir kaupanda fullum trúnaði um allar þær upplýsingar sem kaupandi gefur upp í tengslum við viðskiptin. Upplýsingar frá kaupanda verða ekki afhentar þriðja aðila undir neinum kringumstæðum.</p>
<h2>Notkun á persónuupplýsingum</h2>
<p>Sendingar úr kerfi Book Cave kunna að nota persónuupplýsingar, s.s. búsetu, aldur eða viðskiptasögu, til að útbúa viðeigandi skilaboð til meðlima klúbbsins. Þessar upplýsingar eru aldrei afhentar þriðja aðila. Meðlimir klúbbsins geta ætíð afskráð sig og þannig neitað fyrirtækinu notkun á slíkum upplýsingum.</p>
<h2>Varnarþing</h2>
<p>Þessi samningur er í samræmi við íslensk lög. Rísi mál vegna hans, skal það rekið fyrir íslenskum dómstóli.
Um skilmála þessa gilda ákvæði laga um húsgöngu- og fjarsölu nr. 96/1992, ákvæði laga um lausafjárkaup nr. 50/2000 eftir því sem við getur átt og ákvæði laga um neytendakaup nr. 48/2003. Allir frestir sem nefndir eru í lögum nr. 96/1992 byrja að líða móttaka vöru á sér stað.</p>


