body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #F0F0F0;
    padding: 0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.navbar-brand 
{
    padding: 5px;
}

#brand-image {
    height: 40px;
    padding: 0;
}

#search-icon {
    padding: 0;
    margin: 0;
    height: 20px;
}

/* Footer begin */

.Bottom-footer {
    width: 100%;
}

.footer-style {
    text-align: center;
    padding: 50px;
    margin-left: 145px;
    bottom: 0;
}

/* Nota þetta til að fá inline og til að taka bulletið úr ol */
.footerli {
    float: left;
    list-style-type: none;
    padding-bottom: 11px;
}
/* notaði þetta til að fá linkanna gráa fyrir footerinn */
li a {
    color: gray;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    list-style-type: none;
}

.nav_last{
    color: black;
}

/*Footer end*/

/*Forsíða Begin*/
#slideshow { 
    position: relative; 
    overflow: hidden;
    width: 100%; 
    height: 300px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
    display: flex;
    justify-content: center;
    align-content: center;
}


#slideshow > div, 
#slideshow > div > img,  
#slideshow > div > a > img   {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    align-content: center;
}

#slideshow > div { 
    position: absolute; 

}
.white-tab{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,0.1);
    height: 370px;
    width: 100%;
}
.white-tab > h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    padding: 10px 0 5px 20px;
    border-bottom: 2px solid rgba(0,0,0,0.1);
}
.book-showbox-wrapper{
    overflow: auto;
    height: 330px;
    display: grid;
    grid-template-columns: repeat(20, 160px);
    grid-auto-flow: column;
    grid-gap: 0.5em;
}
.book-showbox {
    height: 280px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
.book-showbox-image  {
    height: 60%
}
.book-showbox-info h1 {
    font-size: 14px;
}
.book-showbox-image img {
    height: 100%;
    max-width: 100%;
    padding: 5px;
}
/*Forsíða End*/

/*Book by Order Css*/
.book-items {
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: space-between;
    justify-content: center;
    border: 1px ;
}
.book-item-thumb {
    background-color: white;
    width: 160px;
    height: 350px;
    text-align: center;
    margin-bottom: 30px;
    margin-right: 40px; 
    box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgba(0,0,0,0.1)
}
.book-item-image img {
    padding: 0.5em;
    width: 150px;
    height: 220px;
    display:block;
    margin: auto;
}
.book-item-info {
    text-align: center;
    vertical-align: middle;
    height: 64px;
    margin-bottom: 5px;
}
.book-item-info h3 {
    font-size: 14px;
    margin: 5px, 4px, 5px, 4px;
    height: 50%;
    text-align: center;
}
.book-item-info-cart h3, .book-item-info-cart p {
    font-size: 20px;
    margin: 5px, 4px, 5px, 4px;
    height: 50%;
    text-align: center;
}
.book-item-action button, .book-item-action span a {
    display:block;
    margin: auto;
    margin-bottom: 5px;
    text-align: center;
}

#booksbyOrder-h3{
    text-align: center;
}
/*Book by Order Css end*/

/*BookDetail CSS Begin*/
.detail-body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 1em;
    padding-bottom: 1em;
}

.detail-header,
.detail-more {
    grid-column: 1 / span 5;
}

.detail-main {
    grid-column: 1 / span 3;
}
  
.detail-aside {
    grid-column: span 2;
}
  
@media (max-width: 700px) {
    
    .detail-main,
    .detail-aside {
      grid-column: 1 / span 5;
    }  
}
  
.detail-header,
.detail-main,
.detail-aside,
.detail-more {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,0.1)

}
  
.detail-header,{
    height: 10vw;
}
.detail-more {
    height: auto;
}
.detail-main {
    display: grid;
    grid-template-columns: 40% 60%; 
    grid-gap: 1em;     
}

.detail-info {
    padding: 0.5em;
}

.detail-image img {
    width: 100%;
    padding: 0.5em;
}

.detail-aside {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;
}
.detail-price, .detail-ship, .detail-buy {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.detail-prodinfo {
    display: grid;
    grid-template-columns: 100%;
}

#detail-prodinfo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1em;
}

.detail-prodinfo > ul {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
/*BookDetail CSS End*/
.OrderHistory{
    padding-top: 1em;
    width: 100%;
}
.OHItem > td > img {
    max-width: 50px;
    max-height: 100px;
}

.login-buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
}

.login-buttons div input, .login-buttons div a button  {
    margin: 1em;
}

.Total{
    padding-top: 420px;
    padding-left: 700px;
}
#comingsoon-h3{
    text-align: center;
}
#top10bækur-h3{
    text-align: center;
}

/*AUTHOR PAGES*/
.author-wrapper{
    display: grid;
    grid-template-rows: 30vw auto;
    grid-gap: 1em;
}
@media (max-width: 700px) {
    .author-wrapper{
        display: grid;
        grid-template-rows: 250px auto;
        grid-gap: 1em;
    }  
}
.author-white-tab {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,0.1);
    width: auto;
}

.author-info {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: 1fr 4fr;
    overflow: auto;
}
.author-info-img {
    width: 100%;
    height: 100%;
    grid-row-start: 1;
    grid-row-end: span 2;
}
.author-info-img > img {
    padding: 10px;
    max-width: 100%;
    max-height: 100%;
}

.author-info-name *{
    font-family: 'Rubik', sans-serif;
    color: #696A6C;
}
.author-info-summary * {
    font-size: 18px;
}

.author-item {
    padding: 4px;
    margin: 0.5em;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.author-item-thumb {
    background-color: white;
    width: 160px;
    margin-bottom: 10px;
    margin-right: 10px; 
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,0.1)
}
.author-item-image img {
    padding: 0.5em;
    width: 150px;
    height: 220px;
    display:block;
    margin: auto;
}
.author-item-info {
    text-align: center;
    vertical-align: middle;
    height: 64px;
    margin-bottom: 5px;
}
.author-item-info h3 {
    font-size: 14px;
    margin: 5px, 4px, 5px, 4px;
    height: 50%;
    
}

.author-item-action button {
    display:block;
    margin: auto;
    margin-bottom: 5px;
}

/* Category begin */

#category-name {
    text-align: center;
}

/* Category end */

#pay-button {
    text-align: center;
}

#wish-list-button {
    text-align: center;
    margin-bottom: 50px;
}

