@{
    ViewData["Title"] = "Hafa samband";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
   Book Cave Bókaverslun<br />
   Reykjavík, 104 Sími 500-0000<br />
    <abbr title="Phone">P:</abbr>
    555-0000
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
